@import "tailwindcss";

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;
}
:root {
  --duration: 10s;
  --gap: 12px;
}
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes float-up {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes float-down {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
}

.animate-float-up {
  animation: float-up 3s ease-in-out infinite;
}

.animate-float-down {
  animation: float-down 3s ease-in-out infinite;
}
@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-up {
  animation: scroll-up 10s linear infinite;
}
@keyframes marquee-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
@keyframes marquee-x-reverse {
  from {
    transform: translateX(calc(-100% - var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes marquee-y-reverse {
  from {
    transform: translateY(calc(-100% - var(--gap)));
  }
  to {
    transform: translateY(0);
  }
}

/* Utility classes to apply the animations */
.marquee-horizontal {
  animation: marquee-x var(--duration) linear infinite;
}

.marquee-vertical {
  animation: marquee-y var(--duration) linear infinite;
}

/* Apply via CSS classes */
.marquee-horizontal-reverse {
  animation: marquee-x-reverse var(--duration) linear infinite;
}

.marquee-vertical-reverse {
  animation: marquee-y-reverse var(--duration) linear infinite;
}
.paused {
  animation-play-state: paused;
}
